   <div id="body">
     <div class="viking">Contact me on <span class="pillage"><a href="https://linkedin.com/in/echoveil">LinkedIn</a></span> or check out my <span class="plunder"><a href="https://bitbucket.org/echoveil">Bitbucket.</a></span></div>
  </div>