

      


<div class="banner">
    <ul>
        <li><div class="app app1"><div class="apptext">The First Rails App.</div></div></li>
        <li><div class="app app2"><div class="apptext">The Second App: Even Appier.</div></div></li>
        <li><div class="app app3"><div class="apptext">Third Time's The Charm.</div></div></li>
    </ul>
</div>


   <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://unslider.com/unslider.min.js"></script>

     <script>
$(function() {
    $('.banner').unslider();
});

$('.banner').unslider({
    speed: 1000,               //  The speed to animate each slide (in milliseconds)
    delay: 5000,              //  The delay between slide animations (in milliseconds)
    complete: function() {},  //  A function that gets called after every slide animation
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: false              //  Support responsive design. May break non-responsive designs
});
     </script>    
 