
                
   <div id="body">
   <div class="container">
     <div class="viking clear">Hello. I am a <span class="pillage">viking</span> who makes <span class="plunder">websites.</span></div>

     <div class="button"><%= link_to "View my work", portfolio_path %></div>
     </div>
  </div>
  

