/* Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#container {font-family: 'Roboto', sans-serif; }

#header {height:100px;font-size:20px;}
#nav ul li {display:inline-block; }

#name {display:inline-block; position:absolute; right:0px; top:0px;}
#body {
color:#ffffff;
height:600px;
text-align:right;
font-size:52px;
background-image:url("http://echoveil.com/img/harbor.jpg");
padding:50px;
}

.container{width:50%;min-width:250px; float:right;}

div.clear{clear:both;}

.viking {
display:block;
}

.pillage {
color:#000000;
background-color:#FFFFFF;
border-radius:10px;
padding:3px;
}

.plunder {
color:#FFFFFF;
background-color:#000000;
border-radius:10px;
padding:3px;
}

.pillage a, .plunder a {
text-decoration:none;
}

.pillage a {
color:#000000;
}

.plunder a {
color:#FFFFFF;
}

#footer div {position:absolute; right:0px;}

.button {border:2px solid #FFF; padding:10px; margin-top:60px; border-radius:10px; font-size:.75em; display:inline-block;
transition: background-color 0.9s ease;
white-space:nowrap;
}

#nav a {color:#000;}
#nav a:hover {color:#565656;text-decoration:none;}
.button a {color:#FFF;transition: color 0.9s ease;}

.button:hover {background-color:rgba(255,255,255,.3);}
.button:hover a {color:#000;text-decoration:none; letter-spacing:0px;}

.bb {}
.li {}
.tw {}

/*slider*/
.banner { position: relative; overflow: auto; color:#FFFFFF; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }


        /*apps*/

        .app {
	color:#ffffff;
height:600px; width:960px; border:10px solid #000; border-radius:20px; margin:0 auto;
}

.apptext {
position:relative;
top:30%;
	text-align:center;
font-size:52px;	
}


.app1 {
background: url("http://echoveil.com/img/harbor.jpg");
background-color:#333333;
}


.app2 {
background: url("http://echoveil.com/img/water.jpg");
background-color:#555555;
}

.app3 {
background: url("http://echoveil.com/img/stripes.jpg");
background-color:#777777;
}

