<!DOCTYPE html>
<html>
<head>
  <title>JSavage :: Portfolio</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="nav">
  <ul>
    <li><%= link_to "Welcome", root_path %></li>
    <li><%= link_to "Portfolio", portfolio_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>  
    </div>
  <div id="name">Josh Savage</div>
</div>

<%= yield %>


  <div id="footer">
    <div class="button bb"></div>
    <div class="button li"></div>
    <div class="button tw"></div> <br>
    <div class="copy">Copyright 2015 JSavage</div>
  </div>
</div>
</body>
</html>
